#!/usr/bin/make -f

PKGDIR=$(CURDIR)/debian/labyrinth/

%:
	dh $@ --with python2

override_dh_auto_install: install-icons install-lang-data
	dh_auto_install
	DESTDIR=$(PKGDIR) ./install_data_files.sh

override_dh_auto_clean:
	dh_auto_clean
	rm -rf build
	rm -rf *.egg-info
	make -c po clean
